[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim-snippets"]
	path = vim/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/snippets/angular"]
	path = vim/snippets/angular
	url = https://github.com/matthewsimo/angular-vim-snippets.git
