# WARNING: Command might be executed multiple times
#
# Copy to /etc/udev/rules.d/99-keyboard.rules
ACTION=="add", ATTRS{idVendor}=="03ee", ATTRS{idProduct}=="5616", RUN+="/usr/local/bin/keyboard-udev"
